body
{
	background-color: White;
}

table.alternating-background tr.odd
{
	background-color: White;
}

table.alternating-background tr.even
{
	background-color: Lavender;
}

td
{
	vertical-align: top;
}

div.navigation-bar
{
	font-size: small;
	padding: 3mm;
	background-color: WhiteSmoke;
}

div.navigation-bar li
{
	font-size: small;
	padding: 0.1em;
}

div.body
{
	padding: 3mm;
}

div.body td, div.body th
{
	padding: 1mm;
	text-align: left;
}
